.z-depth-1{
 brown lighten-5;
}

#content {
  padding-top: 22px;
  padding-left: 28px;
  padding-right: 28px;
  margin-bottom: 50px;
  text-align: justify;
  text-justify: inter-word;
}

.input-field .col .s12 {
  height: 100px;
}

#row {
  vertical-align: middle;
}
