[Desktop Entry]
Name=Create .deb packages
Name[pt]=Criar pacotes .deb
Name[pt_BR]=Criar pacotes .deb
Name[es]=Crear paquetes .deb
Exec=bigdebedit-gui
Icon=package
Type=Application
StartupNotify=true
Categories=Development;
